body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.header {
    margin-top: 70px;
}

h2 {
    margin-bottom: 30px;
}

.googleLogin {
    height: 46px; 
    width: 350px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 1px solid rgba(0, 0, 29, .075); 
    border-radius: 12px;
}

.googleLogin:hover {
    box-shadow: 1px 1px black;
}

.line {
    height: 2px; 
    width: 370px; 
    border-radius: 12px; 
    background-color: rgba(0, 0, 29, .075); 
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    height: 46px; 
    width: 350px;
    border: 1px solid rgba(0, 0, 29, .075); 
    border-radius: 12px;
    padding-left: 10px;
    color: black;
    font-size: 1 rem;
}

button {
    height: 46px; 
    width: 350px;
    font-size: medium;
    font-weight: 600;
    border-radius: 12px;
    background-color: black;
    color: white;
}

a {
    color: #5A5A5A;
}

.footer {
    margin-bottom: 20px;
}